<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjXRJ8coRW0qsT--aykBATirJApvQZAYA</string>
	<key>GCM_SENDER_ID</key>
	<string>802632551195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoom</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-26c89</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-26c89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802632551195:ios:4dc9ef66f13ddb2c4b61be</string>
</dict>
</plist>